.indexheader {
    background-image: url(./img/Background.jpeg);
    @extend %alinearheader;
}
a.navbar-brand.text-light.active{
    position: relative;
    color: #052f6c !important;
    padding-left: 25px;
}

a.navbar-brand.text-light.active::before{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: #0a58ca;
    border-radius: 50%;
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.ordbtnheader{
    margin-top: 14rem;
}

.ordenarnav{
    padding-top: 14rem;
}

.ordenarnavopti{
    padding-top: 11rem;
}

.ordenarnavso{
    padding-top: 27rem;
}

.ordenarnavil{
    padding-top: 14rem;
}

.ordenarnav29{
    padding-top: 14rem;
}

.ordenarnavco{
    padding-top: 29rem;
}

.optimistheader {
    background-image: url(./img/optimist/largada_optimist.png);
   @extend %alinearheader;
}

.ilcaheader {
    background-image: url(./img/ilca/background.jpeg);
   @extend %alinearheader;
}
/*29er*/
.erheader{
    background-image: url(./img/29er/background.jpeg);
   @extend %alinearheader;
}

/*Logo Header*/
.logoheader {
    width: 15rem;
    height: auto;
}

.tituloheader {
    margin-left: 1rem;
    color: #c70909;
    font-size: 1.5rem;
    background-color: #0dcaf0;
    border-radius: .5rem;
    max-width: 25rem;
}

.navbackground {
    background-color: $opacidad;
}