/*Estilo Main*/

.Titulomain {
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    text-decoration: underline;
    margin: 1rem;
}

.titulomainco{
        text-align: center;
    font-weight: 600;
    font-size: 2rem;
    text-decoration: underline;
    margin: 1rem;
}

/*aplico grid a las cards*/
.ordenarcards {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    /*las alineo al centro*/
    row-gap: 20px;
    /*separo filas*/
}

/*Tamaño y color de las cards*/
.cards {
    max-width: 25rem;
    background-color: rgb(127, 255, 234);
    border-radius: 1rem;
}

.card_igualar{
    height: 25rem;
    object-fit: cover;
    max-width: 25rem;
}

.cards img {
    width: 100%;
    margin-top: 5%;
    border-radius: 1rem;
}

.titulo_card {
    text-align: center;
    line-height: 0;
    text-decoration: double;
    text-decoration: underline;
    font-size: 1.5rem;
    margin-top: 5%;
}
.custom{
    color: #a10d8d !important;
}

.parrafo_card {
    text-align: justify;
    color: #0000ff;
    width: 95%;
    margin-top: 10%;
}

/*Precio de descuento*/
.precio_card {
    color: #ff0000;
    text-align: center;
    font-weight: bold;
}

/*Precio tachado de las cards*/
.precio_card span {
    text-decoration: line-through;
    color: rgb(0, 0, 0);
    text-align: left;
}

/*Boton de las cards*/
.btn_card {
    text-align: center;
    font-size: 1.5rem;
    border: none;
    border-radius: 1rem;
    margin-bottom: 3%;
}

/*Card de pages contactos*/
.ordcontactos {
    @extend %flexcolum;
    padding-top: 1rem;
}

.card_contactos {
    background-color: #17caca;
    width: 18rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.text_card {
    margin-top: 2%;
    margin-left: 2%;
}

.text_mensaje {
    width: 95%;
    height: 10rem;
    margin-left: 2%;
}

/*cards pages optimist*/
.ord_cards_optimist {
    @extend %flexcolum;
}