@charset "UTF-8";
.erheader, .ilcaheader, .optimistheader, .indexheader {
  background-size: cover;
  background-repeat: no-repeat;
  height: 95vh;
  background-position: bottom;
}

.ord_cards_optimist, .ordcontactos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indexheader {
  background-image: url(./img/Background.jpeg);
}

a.navbar-brand.text-light.active {
  position: relative;
  color: #052f6c !important;
  padding-left: 25px;
}

a.navbar-brand.text-light.active::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #0a58ca;
  border-radius: 50%;
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.ordbtnheader {
  margin-top: 10rem;
}

.ordenarnav {
  padding-top: 11rem;
}

.ordenarnavopti {
  padding-top: 11rem;
}

.ordenarnavso {
  padding-top: 22rem;
}

.ordenarnavil {
  padding-top: 11rem;
}

.ordenarnav29 {
  padding-top: 11rem;
}

.ordenarnavco {
  padding-top: 22rem;
}

.optimistheader {
  background-image: url(./img/optimist/largada_optimist.png);
}

.ilcaheader {
  background-image: url(./img/ilca/background.jpeg);
}

/*29er*/
.erheader {
  background-image: url(./img/29er/background.jpeg);
}

/*Logo Header*/
.logoheader {
  width: 15rem;
  height: auto;
}

.tituloheader {
  margin-left: 1rem;
  color: #c70909;
  font-size: 1.5rem;
  background-color: #0dcaf0;
  border-radius: 0.5rem;
  max-width: 25rem;
}

.navbackground {
  background-color: rgba(233, 146, 12, 0.82);
}

/*Estilo Main*/
.Titulomain {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  text-decoration: underline;
  margin: 1rem;
}

.titulomainco {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  text-decoration: underline;
  margin: 1rem;
}

/*aplico grid a las cards*/
.ordenarcards {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  /*las alineo al centro*/
  row-gap: 20px;
  /*separo filas*/
}

/*Tamaño y color de las cards*/
.cards {
  max-width: 25rem;
  background-color: rgb(127, 255, 234);
  border-radius: 1rem;
}

.card_igualar {
  height: 25rem;
  object-fit: cover;
  max-width: 25rem;
}

.cards img {
  width: 100%;
  margin-top: 5%;
  border-radius: 1rem;
}

.titulo_card {
  text-align: center;
  line-height: 0;
  text-decoration: double;
  text-decoration: underline;
  font-size: 1.5rem;
  margin-top: 5%;
}

.custom {
  color: #a10d8d !important;
}

.parrafo_card {
  text-align: justify;
  color: #0000ff;
  width: 95%;
  margin-top: 10%;
}

/*Precio de descuento*/
.precio_card {
  color: #ff0000;
  text-align: center;
  font-weight: bold;
}

/*Precio tachado de las cards*/
.precio_card span {
  text-decoration: line-through;
  color: rgb(0, 0, 0);
  text-align: left;
}

/*Boton de las cards*/
.btn_card {
  text-align: center;
  font-size: 1.5rem;
  border: none;
  border-radius: 1rem;
  margin-bottom: 3%;
}

/*Card de pages contactos*/
.ordcontactos {
  padding-top: 1rem;
}

.card_contactos {
  background-color: #17caca;
  width: 18rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.text_card {
  margin-top: 2%;
  margin-left: 2%;
}

.text_mensaje {
  width: 95%;
  height: 10rem;
  margin-left: 2%;
}

/*cards pages optimist*/
/*Estilos Footer*/
/*Tamaño y color footer*/
footer {
  background-color: #000000;
  height: 60vh;
}

.logo_bq {
  width: 10rem;
  height: auto;
  object-fit: cover;
  margin-top: 1rem;
}

.titulofooter {
  max-width: 8rem;
  font-size: 1rem;
  color: #00ffff;
  margin-left: 2rem;
}

.nav_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulonav {
  color: #f5f5f5;
  font-size: 1rem;
  text-decoration: underline;
}

.fs-custom {
  font-size: 0.8rem;
  text-decoration: none;
  margin-left: 0.5rem;
}

/*Logos redes sociales*/
.redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}

.logotipofooter {
  width: 2rem;
  height: auto;
  object-fit: cover;
  margin-top: 0.5rem;
}

.parrafo_footer {
  color: #f5f5f5;
  text-align: center;
  text-decoration: underline;
  margin-top: 1rem;
}

.ordenarfooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}

.ordenar_logos {
  display: flex;
}

.link_footer {
  color: #f5f5f5;
  font-size: 1rem;
  margin-left: 1.5rem;
  margin-top: 0.8rem;
}

@media only screen and (min-width: 500px) {
  .logoheader {
    width: 25rem;
    height: auto;
    object-fit: cover;
  }
  .tituloheader {
    margin-left: 1rem;
    color: #c70909;
    font-size: 1.5rem;
    width: 95%;
  }
  .ordenarnav {
    padding-top: 16rem !important;
  }
  .ordenarnavopti {
    padding-top: 16rem;
  }
  .ordenarnavso {
    padding-top: 26rem;
  }
  .ordenarnavil {
    padding-top: 16rem;
  }
  .ordenarnav29 {
    padding-top: 16rem;
  }
  .ordenarnavco {
    padding-top: 26rem;
  }
  .navbackground {
    background-color: rgba(233, 146, 12, 0.82);
  }
  /*main*/
  .Titulomain {
    font-size: 3rem;
  }
  .ordenarcards {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    /*las alineo al centro*/
  }
  /*Card de pages contactos*/
  .ordcontactos {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    margin-left: 5%;
    margin-right: 5%;
  }
  .card_contactos {
    background-color: #17caca;
    width: 30rem;
    border-radius: 1rem;
    margin-right: 5%;
    height: 36rem;
  }
  .text_card {
    margin-top: 5%;
    margin-left: 2%;
  }
  .text_mensaje {
    width: 95%;
    height: 10rem;
    margin-left: 2%;
  }
  /*cards optimist*/
  .ord_cards_optimist {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    /*las alineo al centro*/
  }
  /*footer*/
  footer {
    height: 40vh;
    margin-top: 3rem;
  }
  .ordenarfooter {
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    margin-top: 0rem;
  }
  .logo_bq {
    width: 10rem;
    height: auto;
    object-fit: cover;
  }
  .titulofooter {
    max-width: 8rem;
    font-size: 1rem;
    color: #00ffff;
    margin-left: 2rem;
    margin-top: 1rem;
  }
  .nav_footer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .titulonav {
    color: #f5f5f5;
    font-size: 1rem;
    text-decoration: underline;
  }
  .fs-custom {
    font-size: 0.8rem;
    text-decoration: none;
  }
  .links_nav {
    display: flex;
    flex-direction: column;
  }
  .ordenar_logos {
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
  }
  .link_footer {
    color: #f5f5f5;
    font-size: 1rem;
    margin-left: 0rem;
    margin-top: 0rem;
  }
  .redes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (min-width: 900px) {
  /*header*/
  .ordenarnav {
    padding-top: 16rem !important;
  }
  .ordenarnavopti {
    padding-top: 16rem;
  }
  .ordenarnavso {
    padding-top: 27rem;
  }
  .ordenarnavil {
    padding-top: 16rem;
  }
  .ordenarnav29 {
    padding-top: 16rem;
  }
  .ordenarnavco {
    padding-top: 27rem;
  }
  /*Para el nav de ilca*/
  .navbackground {
    background-color: rgba(233, 146, 12, 0.82);
  }
  /*Main*/
  .ordenarcards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*separo en 2 columnas iguales*/
    justify-items: center;
    /*las alineo al centro*/
    row-gap: 20px;
    /*separo filas*/
  }
  .cards img {
    margin-top: 1%;
  }
  .titulo_card {
    font-size: 2.5rem;
  }
  .parrafo_card {
    font-size: 1.5rem;
  }
  /*Precio de descuento*/
  .precio_card {
    font-size: 1.5rem;
  }
  .btn_card {
    margin-bottom: 1%;
  }
  .btn_ordenar {
    display: flex;
    padding-top: 2rem;
  }
  .btn_ordenar4 {
    display: flex;
    padding-top: 4.5rem;
  }
  /*Card de pages contactos*/
  .ordcontactos {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    margin-left: 5%;
    margin-right: 5%;
  }
  .card_contactos {
    background-color: #17caca;
    width: 30rem;
    border-radius: 1rem;
    margin-right: 5%;
    height: 36rem;
  }
  .text_card {
    margin-top: 5%;
    margin-left: 2%;
  }
  .text_mensaje {
    width: 95%;
    height: 10rem;
    margin-left: 2%;
  }
  /*cards optimist*/
  .ord_cards_optimist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*separo en 2 columnas iguales*/
    justify-items: center;
    /*las alineo al centro*/
    row-gap: 20px;
  }
}
/*Estilos Generales*/
/*Google Fonts*/
* {
  font-family: "WDXL Lubrifont TC", sans-serif;
}

/*Quitar Pelotitas de la lista*/
ul {
  list-style: none;
}

/*Imagen Fondo*/
body {
  background-image: url(./img/Background_Logos_BQ.jpg);
}

.logowpp {
  width: 3rem;
  right: 0;
  border-radius: 50%;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}

.custom-delay {
  animation-delay: 4s !important;
}

.custom-delay1 {
  animation-delay: 1.5s !important;
}

/*# sourceMappingURL=estilo.css.map */
